
body
{
	background-color: #FFF;
	margin:0px;
	margin-left: -20px;
	margin-right: -20px;
}
.bg-primary
{
	padding:5px;
}
.hoverli:hover
{
	background-color:#2f4f4f !important;
}
.nav.navbar-nav
{
	
	border-radius:0px;
	padding:0px;
}
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: 0px;
}
.nav-sidebar > li > a {
	background-color: #ededed;
	padding-right: 20px;
	padding-left: 20px;
	color:black;
}
.nav-sidebar >li > a:hover
{
	background-color:#adadad; /* Change this to change the color of the hover over*/

}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color:black; /* Change this to change color of text in active sidebar element */
	background-color: #adadad; /* Change this to change the color of the highlighted background*/
}
.td
{

}