
#header
{
	background-color: #000066;
	color: white;
	padding: 2px;
	border-radius: 5px;
}
#nav
{
	background-color: #ccff33;
}
ul#ulnav {
	margin-top:5px;
    padding:0;
    list-style:none;
    width:100%;
    border-radius: 3px;

}
ul#ulnav li
{
	display:inline;
}
ul#ulnav li a 
{
 text-decoration:none;
 width:25%;
 background:#556b2f;
 color:#d3d3d3;
 float:left;
 text-align:center;
 border-radius: 150px;
}
#currentnav
{
	background:#ff0000;
}
body
{
	background-color: #d3d3d3;
}
span
{
	background-color:#000000;
}
table
{
/*	border-collapse: collapse;*/
}
table, th, td
{
	border: 1px solid black;
}